
<h2 > {{ Room.name }}</h2>
<div id = "userList" class = "userList" >

<ul>
<span> List of Users </span>
</br>
</br>
<li> Operator : {{Room.op}} </li>
<ul ng-repeat="user in UserList" >
	<li> {{ user }} </li>
</ul>

</ul>
</div>

<div id = "messagebox" class = "messagebox" >

<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</div>


</br>
<div id = "sentmessages" class= "sentmessages" >


<form>
<input type="text" id="inputSentMessages" ng-model="Input" />
<button type="submit"  ng-click="sendMessage()">Sent Message </button>
</form>


</div>
