
<h2 > {{ Room.name }}</h2>
<div id = "userList" class = "userList" >

<ul>
<span> List of Users </span>
</br>
</br>
<li> Operator : {{Room.op}} </li>
<li> notandi Ivar </li>
<li> notandi sindri </li>


</ul>
</div>

<div id = "messagebox" class = "messagebox" >

<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</br>
<span> ivar: sendir eitthvað message </span>
</br>
<span> Sindri: sendir message </span>
</div>


</br>
<div id = "sentmessages" class= "sentmessages" >

<input type="text" id="inputSentMessages" />
<button type="button">Sent Message  </button>

</div>
